<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" rel="author" href="https://www.researchgate.net/profile/Nathan_Anderson17">{{ site.title | escape }}</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link" href="https://www.researchgate.net/profile/Nathan_Anderson17">Research Gate</a>
          </li>
          {%- endif -%}
        {% endfor -%}
        <li class="nav-item">
          <a class="nav-link" href="http://nw-anderson.github.io">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://nw-anderson.github.io/nw-anderson_research.github.io/">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.nw-anderson.github.io/">Teaching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://coleoguy.github.io">The Lab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://github.com/NW-Anderson">Fork me on Github</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
